

body {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
}


/* login Container */
.login-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
  color: white;
  margin: auto;
  padding: 50px;
  position: relative;
}

.signIn-container {
  position: absolute;
  top: 4rem;
  left: 18rem;
  z-index: 100;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #000000;
  padding: 10px;
  border-radius: 20px;
}

@media (max-width: 47rem) {
  .signIn-container {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    gap: 2rem;
  }
}

@media(max-width: 47rem) {
  .container .login-container {
    flex-direction: column;   
    gap: 2rem; 
  }
}

.login-container .x-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 47rem) {
  .login-container .x-logo {
    justify-content: flex-start;
    align-self: flex-start;
  }
}

.login-container .x-logo img {
  width: 70%;
}

@media(max-width: 47rem) {
  .login-container .x-logo img {
    width: 15%;    
  }
}

/* Social Login */
.social-login {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
} 

.social-login .login-heading {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

@media(max-width: 47rem) {
  .social-login .login-heading {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0.4rem;
  }
}

.social-login .login-description {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

@media(max-width: 47rem) {
  .social-login .login-description {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.social-login .social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.40rem 0;
  gap: 0.81rem;
  width: 70%;
  background-color: #fff;
  color: #000000;
  border-radius: 30px;
  z-index: 1;
  transition: all 0.3s ease;
}
@media(max-width: 47rem) {
  .social-login .social-button {
    width: 100%;
  }
}

.social-login .social-button:hover {
  background-color: hsl(0, 1%, 87%);
}

.social-login .social-button img {
  width: 19px;
}

/* Separator*/
 .separator {
  text-align: center;
  width: 70%;
  position: relative;
}

@media(max-width: 47rem) {
   .separator {
    width: 100%;
  }
}

 .separator span {
  position: relative;
  z-index: 1;
  background: #000000;
  padding: 0 0.5rem;
  font-size: 1.0rem;
  font-weight: 400;
  text-transform: uppercase;
}


.separator::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 100%;
  height: 0.5px;
  background: grey;
}

/* Create Account button */
.create-btn {
  font-weight: 500;
}

/* Low Description */
.login-container .low-description {
  font-size: 11px;
  width: 60%;
  color: hsl(0, 0%, 59%);
  opacity: 0.9;
  margin-bottom: 1rem;
}

@media(max-width: 47rem) {
 .login-container .low-description {
    width: 100%;
  }
}

.login-container .low-description a {
  color: hsl(240, 100%, 58%);
  opacity: 1;
}

.login-container .low-description a:hover{
  text-decoration: underline;
}

.login-container .Already-heading {
  font-size: 1.2rem;
  font-weight: 700;
}

.social-login .bg-dark {
  background-color: #000000;
  color: #fff;
  border: 1px hsl(0, 0%, 54%) solid;
  transition: all 0.3s ease;
}

.social-login .bg-dark:hover {
  background-color: hsl(0, 0%, 9%);
}


/* Sign in page */
.signIn-container .social-login {
  width: 60%;
  padding: 20px;
  gap: 1rem;
}

@media(max-width: 47rem) {
 .signIn-container .social-login {
    width: 100%;
  }
}

.signIn-container .x-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 47rem) {
 .signIn-container .x-logo {
    margin-bottom: 5rem;
  }
}

.signIn-container .x-logo img {
  width: 10%; 
}

.close-btn {
  position: absolute;
  left: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  transition: 0.3s ease-in;
  width: 40px;
}

.close-btn:hover {
  background-color:  hsla(0, 17%, 93%, 0.119);
  border-radius: 50%;
}

.signIn-container .sign-heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0.4rem; 
}

.signIn-container .low-description {
  font-size: 14px;
  opacity: 0.6;
}

.signIn-container .low-description a{
 color: blue;
}

.signIn-container .low-description a:hover{
 text-decoration: underline;
}

.signIn-container .separator span {
  text-transform: lowercase;
}
.signIn-container .separator {
  width: 100%;
}

.signIn-container input {
  background-color: #000000;
  border: 1px solid grey;
  padding: 10px;
}

.signIn-container .social-button {
  width: 100%;
}


/* Background overlay */
.overlay {
  background-color: hsl(240, 14%, 23%);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 10;
}

/* Error Message */
.signIn-container .error-message {
  color: red;
  font-size: 0.8rem;
}

